<h1>Login</h1>

<%= bootstrap_form_tag url: '/login' do |f| %>

  <%= f.email_field :email, floating: true %>
  <%= f.password_field :password, floating: true %>
  <%= f.submit "Login", class: 'btn btn-primary' %>

<% end %>

