

<h1> Dashboard </h1>
<div class="dashboard">
  <div class="dashboard-item">
    <h3> Total Products </h3>
    <h1><%=  @product_count %> </h1>
  </div>
  <div class="dashboard-item">
    <h3> Categories </h3>
    <h1><%=  @category_count %></h1>
  </div>
</div>